{{>header}}

   <p><a href="/cursos">Reserva tu plaza</a></p>
  
                        <h1>Cuéntanos
                            <span>
                               ¿En qué te podemos ayudar?
                            </span>
                        </h1>

    <p>Si tienes dudas acerca de si impartimos una asignatura concreta, cuál es el precio de nuestros cursos, cómo funcionamos, rellena el formulario que aparece a continuación. Te atenderemos lo más rápido posible.</p>
    <p>Por el contrario, si ya has estado más veces con nosotros, conoces como funcionamos o estás decidido a venir a nuestros cursos y no tienes dudas, puedes reservar tu plaza <a href="/cursos">aquí</a>.</p>
  
         <form method="post" action ="guardarContacto">
         
         
         <input placeholder="Nombre" type="text">
         <input placeholder="Email" type="email">
		 <textarea placeholder="Texto" style="height: 200px; resize: none;" rows="20" ></textarea>   
         <input type="submit" value="Contactar">
       
         </form>
					
							 
{{>footer}}