{{>header}}

<p> Aquí tienes una lista con todos los cursos disponibles para ti: </p>



		<form method="post" action="añadirCursoM">
	
		Curso Matematicas <input type="submit" value="Inscribirse">
		
		</form>
		
		<h2>---------------------</h2>
		
		<form method="post" action="añadirCursoI">
		
		Curso informatica <input type="submit" value="Inscribirse">
		
		</form>
		
		
		<h2>---------------------</h2>
		
		<form method="post" action="añadirCursoE">
		
		Curso Ingles <input type="submit" value="Inscribirse">
		
		
		</form>
		
		
	

{{>footer}}